@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h4>
    The application knows to track the expenses/income of the customer based on category, date time.<br>
    <br>
    Income examples: Salary, Deposit, Dividends, Savings etc.<br>
    <br>
    Expense examples: Bills, Car, Clothes, Communications, Eating out, Entertainment, Food, Gifts, Health, House, Pets, Sports, Taxi, Toiletry, Transport etc.<br>
    <br>
    User submits expenses on a simple web form, also the income is submitted on a simple form.
</h4>
<p>
    <b>Technologies used in the project:</b><br>
    ASP.NET MVC<br>
    Entity Framework<br>
    SQL<br>
    Bootstrap<br>
    HTML<br>
    CSS<br>

</p>
